:root {
  --background-color: rgb(255, 198, 41);
  --text-01: #403e43;
  --text-02: #9f9f9f;
  --text-03: var(--background-color);
  --text-04: #514b59;
  --ui-01: var(--text-02);
  --ui-02: #ffffff;
  --ui-03: #6f7277;
}
